
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col float-left" >
          <div class="row">
            <div class="col"></div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <a routerLink = "/input">
                  <button class="btn btn-lg btn-primary">Input</button>
                </a>
            </div>
            <div class="col"></div>
          </div>
            <!-- <a routerLink = "/input">
              <button class="btn btn-lg btn-primary">Input</button>
            </a> -->
            <br>


        </div>

        <div class="col float-left" >
            <div class="row">
                <div class="col"></div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <a routerLink = "/database">
                      <button class="btn btn-lg btn-primary" >Display  </button>
                    </a>
                </div>
                <div class="col"></div>
              </div>
                <!-- <a routerLink = "/input">
                  <button class="btn btn-lg btn-primary">Input</button>
                </a> -->
                <br>

        </div>
      </div>
</div>
<br><br><br>
<div class="col">
  <router-outlet></router-outlet>
</div>
